@model DossierExplorer.ViewModels.IndexContentViewModel
<style>
    .modal-body {
        overflow: hidden;
        background: scroll;
        height: 750px;
    }

        .modal-body:hover {
            overflow-y: auto;
        }

    .modal-header {
        background-color: steelblue;
        color: white;
    }
</style>
<div class="modal-content">
    <div class="modal-header d-flex flex-row-reverse bd-highlight" >
        <div class="p-2 bd-highlight">
            

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">CLOSE</span>
            </button>
        </div>
        <div class="p-2 bd-highlight">


            <h4 class="modal-title" id="myModalLabel">@Model.name</h4>
        </div>
    </div>
    <div class="modal-body">

        
        <pre> @Model.content </pre>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
    </div>
</div>
